<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidapplicationv3">

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.BaseActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.managment.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_main"
            android:parentActivityName=".ui.managment.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.managment.LoginActivity" />
        </activity>

        <activity
            android:name=".ui.request.RequestsActivity"
            android:label="@string/title_activity_requests"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>

        <activity
            android:name=".ui.request.DetailsRequestActivity"
            android:label="@string/title_activity_detailsrequest"
            android:parentActivityName=".ui.request.RequestsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>


        <activity
            android:name=".ui.request.AddRequestActivity"
            android:label="@string/title_activity_addrequest"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>


        <activity
            android:name=".ui.admin.RequestsAdminActivity"
            android:label="@string/title_activity_requests"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>


        <activity
            android:name=".ui.admin.DetailsRequestAdminActivity"
            android:label="@string/title_activity_requests"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>



        <activity
            android:name=".ui.admin.RegisterUserActivity"
            android:label="@string/title_activity_registeruser"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>


        <activity
            android:name=".ui.managment.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/MyPreferencesTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>

    </application>

</manifest>